@charset "UFT-8";

$media-pc: 761px;
@mixin pc {
  @media only screen and (min-width: $media-pc) {
    @content;
  }
}

html {
  body {
    background-color: #000;
    @include pc {
      position: relative;
    }
    header {
      height: 60px;
      width: 100vw;
      background-color: white;
      position: fixed;
      top: 0;
      z-index: 9999;
      @include pc {
        height: 54px;
      }
    }

    main {
      height: calc(100vh - 60px);
      width: 100vw;
      max-width: 470px;
      position: fixed;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      @include pc {
        background: url(../image/common/background_pc.png) no-repeat center
          center/contain;
        max-width: none;
        position: relative;
      }

      .model_name {
        height: 25px;
        width: auto;
        position: fixed;
        top: 22px;
        left: 20px;
        z-index: 999;
        @include pc {
          height: 30px;
          position: absolute;
          top: calc(50% - 250px);
          left: calc(50% - 424px);
          transform: translateY(-50%) translateX(-50%);
        }
      }

      model-viewer {
        width: 100vw;
        max-width: 470px;
        height: calc(100vh - 90px);
        background: url(../image/common/background_pc.png) no-repeat center
          center/cover;
        position: fixed;
        top: 0;
        left: 0;
        @include pc {
          width: 380px;
          height: 460px;
          position: absolute;
          top: 50%;
          left: calc(50% - 300px);
          transform: translateY(-50%) translateX(-50%);
          border: 2px solid #fff;
        }
        // button {
        //   position: absolute;
        //   right: 15px;
        //   top: 80px;
        //   width: 100px;
        //   height: 50px;
        //   font-weight: bold;
        //   line-height: 50px;
        //   color: white;
        //   border: 1px solid white;
        //   text-align: center;
        // }
      }

      .display_buttons {
        width: 96%;
        max-width: 450px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 92px;
        @include pc {
          display: none;
        }

        .status_btn_container {
          width: 32%;
          height: auto;
          border-bottom: 1.5px solid #fff;
          display: flex;
          align-items: center;
          .arrow {
            margin-top: 6px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 0 11px 20px;
            border-color: transparent transparent transparent #ffffff;
          }
          img {
            height: 24px;
            width: auto;
          }
        }

        .item_btn_container {
          width: 32%;
          height: auto;
          display: flex;
          align-items: center;
          border-bottom: 1.5px solid #fff;
          .arrow {
            margin-top: 6px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 0 11px 20px;
            border-color: transparent transparent transparent #ffffff;
          }
          img {
            height: 24px;
            width: auto;
          }
        }

        .ar_btn_container {
          width: 32%;
          height: auto;
          display: flex;
          align-items: center;
          border-bottom: 1.5px solid #fff;
          .camera {
            margin-top: 4px;
            width: 26px;
            height: 28px;
          }
          button {
            .ar_icon {
              height: 24px;
              width: auto;
            }
          }
        }
      }
      .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 0 11px 20px;
        border-color: transparent transparent transparent #ffffff;
      }
      img {
        width: 30vw;
        height: 40px;
      }
    }

    .scroll_area {
      width: 100vw;
      height: 90px;
      background: url("../image/common/icons_background.png") no-repeat center
        center/cover;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include pc {
        width: 280px;
        height: 200px;
        position: absolute;
        top: calc(50% + 150px);
        left: calc(50% + 340px);
        transform: translateY(-50%) translateX(-50%);
        bottom: auto;
        background-image: none;
        display: block;
      }
      .mask_title {
        display: none;
        width: 100%;
        height: 30px;
        @include pc {
          display: block;
        }
      }
      .arrow_left {
        width: 20px;
        height: 80px;
        @include pc {
          display: none;
        }
        img {
          width: 20px;
          height: 80px;
          padding-bottom: 20px;
        }
      }
      .mask_icons {
        width: 300px;
        height: 90px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none; /* IE, Edge 対応 */
        scrollbar-width: none; /* Firefox 対応 */
        &::-webkit-scrollbar {
          /* Chrome, Safari 対応 */
          display: none;
        }
        @include pc {
          width: 100%;
          height: auto;
          flex-wrap: wrap;
          justify-content: space-around;
          align-content: space-around;
          position: absolute;
          bottom: 0;
        }

        img {
          width: 60px;
          max-width: 90px;
          height: auto;
          @include pc {
            width: 50px;
            height: auto;
          }
        }

        a {
          img {
            width: 60px;
            max-width: 90px;
            height: auto;
            @include pc {
              width: 50px;
              height: auto;
            }
          }
        }
      }
      .arrow_right {
        width: 20px;
        height: 80px;
        @include pc {
          display: none;
        }
        img {
          width: 20px;
          height: 80px;
          padding-bottom: 20px;
          transform: rotateY(180deg);
        }
      }
    }

    .items_smp {
      width: 70%;
      height: 50%;
      display: flex;
      // display: none;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      position: fixed;
      top: calc(85px + 5%);
      right: 15%;
      a {
        width: 44%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .item_container_pc {
      display: none;
      width: 270px;
      height: 450px;
      position: absolute;
      top: 50%;
      left: calc(50% + 50px);
      transform: translateY(-50%) translateX(-50%);

      @include pc {
        display: block;
      }
      .item_title {
        width: 270px;
        height: 30px;
      }

      .items_pc {
        width: 100%;
        height: 420px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start; // アイテム数によって変更
        a {
          width: 120px;
          height: auto;
          margin-top: 20px;
          img {
            width: 120px;
            height: auto;
          }
        }
      }
    }

    .status_smp {
      width: 50%;
      height: auto;
      position: absolute;
      top: calc(85px + 5%);
      left: 20px;
      @include pc {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .status_container_pc {
      display: none;
      width: 280px;
      height: 250px;
      position: absolute;
      top: calc(50% - 100px);
      left: calc(50% + 340px);
      transform: translateY(-50%) translateX(-50%);
      right: auto;
      @include pc {
        display: block;
      }
      .status_title {
        width: 100%;
        height: 30px;
      }
      .status_pc {
        img {
          width: 100%;
          height: auto;

          margin-top: 20px;
        }
      }
    }
  }
}
